.result-wrap {
	max-width: 50%;
	margin: 30px auto 0 auto;
	/*text-align: center;*/
}

.weather-card {
	max-width: 50%;
	margin: 0 auto;
	border: 1px solid blue;
}

ul {
	margin-top: 20px;
	padding: 0;
}

img {
	width: 65px;
}
